<section class="wrapper">
  <div class="container">
    <div class="row mt-5">
      <div class="hero-details w-75 text-center" style="margin: 0 auto;">
        <h1 style="font-size: 5em">
          Meet, eat and enjoy the true taste
        </h1>

        <%= link_to "Order now", '#', class: "btn btn-warning btn-lg rounded-0 mt-4" %>

        <!--<div class="hero-socials mt-5">
          <i class="fa-brands fa-instagram fs-4 p-2 rounded-circle shadow me-3" style="width:25px; height: 25px"></i>
          <i class="fa-brands fa-whatsapp fs-4 p-2 rounded-circle shadow me-3" style="width:25px; height: 25px"></i>
          <i class="fa-brands fa-facebook-f fs-4 p-2 rounded-circle shadow me-3" style="width:25px; height: 25px"></i>
          <i class="fa-brands fa-twitter fs-4 p-2 rounded-circle shadow" style="width:25px; height: 25px"></i>
        </div>-->
      </div>

      <%= image_tag('food-8.png', class: "text-center mt-5", style: "width: 900px; margin: 0 auto") %>
    </div>
  </div>
</section>

<section class="wrapper text-white" style="padding-top: 20em; background: #000000; margin-top: -20em">
  <div class="container pb-5" style="margin-top:3em">
    <h2 class="text-center" style="font-size: 3.8em; margin-bottom: 1.5em">
      Featured products
    </h2>
    
    <div class="row align-items-center">
      <div class="col-md-4 p-0 m-0 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="card border-0 text-white bg-transparent me-3">
            <%= image_tag('food-2.jpg', class: "img-fluid rounded-4") %>
            <div class="card-body bg-transparent mt-3 p-0">
              <h5 class="card-title bg-danger my-3 p-1 d-inline-block">Small chops platter one</h5>
              <p class="card-text">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>
            </div>
            <p class="price my-2">
              <%= number_to_currency("5000", unit: "N") %>
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 p-0 m-0">
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="card border-0 text-white bg-transparent me-3">
            <%= image_tag('food-2.jpg', class: "img-fluid rounded-4") %>
            <div class="card-body bg-transparent mt-3 p-0">
              <h5 class="card-title bg-danger my-3 p-1 d-inline-block">Small chops platter one</h5>
              <p class="card-text">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>
            </div>
            <p class="price my-2">
              <%= number_to_currency("5000", unit: "N") %>
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 p-0">
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="card border-0 text-white bg-transparent me-3">
            <%= image_tag('food-2.jpg', class: "img-fluid rounded-4") %>
            <div class="card-body bg-transparent mt-3 p-0">
              <h5 class="card-title bg-danger my-3 p-1 d-inline-block">Small chops platter one</h5>
              <p class="card-text">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>
            </div>
            <p class="price my-2">
              <%= number_to_currency("5000", unit: "N") %>
            </p>
          </div>
        </a>
      </div>
    </div>

    <p class="text-center"><%= link_to "Visit shop", shop_path, class: "btn btn-warning rounded-0 text-center", style: "margin-top: 1.5em" %></p>

  </div>
</section>

<section class="wrapper">
  <div class="container">
    <div class="row align-items-center" style="height: 94vh;">
      <div class="col-md-6 text-center">
        <%= image_tag('food-6.png', class: "img-fluid") %>
      </div>

      <div class="col-md-6">
        <h1 style="font-size: 3.8em">
          Living well begins with eating well.
        </h1>
        
        <p class="fs-4 py-4">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima nobis maxime adipisci minus, natus ipsa quaerat. Quaerat, cum cumque suscipit labore aperiam, reprehenderit repellendus dignissimos ullam, minus exercitationem asperiores. Omnis.
        </p>

      </div>
    </div>
  </div>
</section>

<section id="review_section" class="wrapper align-items-center d-flex reviews-section" style="height: 100vh;">
  <div class="container">
    <div class="row align-items-center d-flex">
      <div class="col-md-8">
        <h5>You don't want to miss eyy</h5>
        <h1 style="font-size: 3.8em" class="my-4">
          Here's what our customers say about us...
        </h1>
        <p class="fs-4 py-4">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima nobis maxime adipisci minus, natus ipsa quaerat. Quaerat, cum cumque suscipit labore aperiam, reprehenderit repellendus dignissimos ullam, minus exercitationem asperiores. Omnis.
        </p>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <div class="card text-bg-light mb-3 shadow">
              <div class="card-body bg-white rounded-3">
                <p class="text-warning">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p class="card-text" style="font-size: 14px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <%= image_tag('avatar.jpg', class: "img-fluid rounded-circle me-2", size: "30x30") %><strong><span class="card-title">tolasekelvin</span></strong>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card text-bg-light mb-3 shadow">
              <div class="card-body bg-white rounded-3">
                <p class="text-warning">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p class="card-text" style="font-size: 14px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <%= image_tag('avatar.jpg', class: "img-fluid rounded-circle me-2", size: "30x30") %><strong><span class="card-title">tolasekelvin</span></strong>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card text-bg-light mb-3 shadow">
              <div class="card-body bg-white rounded-3">
                <p class="text-warning">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p class="card-text" style="font-size: 14px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <%= image_tag('avatar.jpg', class: "img-fluid rounded-circle me-2", size: "30x30") %><strong><span class="card-title">tolasekelvin</span></strong>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card text-bg-light mb-3 shadow">
              <div class="card-body bg-white rounded-3">
                <p class="text-warning">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p class="card-text" style="font-size: 14px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <%= image_tag('avatar.jpg', class: "img-fluid rounded-circle me-2", size: "30x30") %><strong><span class="card-title">tolasekelvin</span></strong>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card text-bg-light mb-3 shadow">
              <div class="card-body bg-white rounded-3">
                <p class="text-warning">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p class="card-text" style="font-size: 14px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <%= image_tag('avatar.jpg', class: "img-fluid rounded-circle me-2", size: "30x30") %><strong><span class="card-title">tolasekelvin</span></strong>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card text-bg-light mb-3 shadow">
              <div class="card-body bg-white rounded-3">
                <p class="text-warning">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p class="card-text" style="font-size: 14px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <%= image_tag('avatar.jpg', class: "img-fluid rounded-circle me-2", size: "30x30") %><strong><span class="card-title">tolasekelvin</span></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Modal -->
<div class="modal fade text-white" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="row text-dark border border-secondary" style="background: #000">
        <div class="col-md-6 p-0">
          <div class="product-img">
            <%= image_tag('food-2.jpg', class: "img-fluid") %>
          </div>
        </div>

        <div class="col-md-6 p-0">
          <div class="product-details text-white p-3">
            <h3 class="">Small chops platter one</h3>
            <p class="mt-4">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>

            <p class="price my-2">
              <%= number_to_currency("5000", unit: "N") %>
            </p>

            <div class="product-quantity">
              <input type="number" class="form-control d-inline-block w-25 bg-transparent text-white" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
            </div>

            <%= link_to "Add to cart", '#', class: "btn btn-warning rounded-0 mt-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
