<% @cart.orderables.each do |orderable| %>
    <% product = orderable.product %>

    <div id="<%= "cart-#{product.id}" %>">
        <div class="d-flex justify-content-between">
            <strong>Name:</strong>
            <%= product.name %>
            <strong>Price:</strong>
            <%= number_to_currency(product.unit_price, unit: "₦") %>
            <!--<strong>Sales count:</strong>-->
            <%#= product.sales_count %>
            <strong>Code:</strong>
            <%= product.code %>

            <%= form_with(url: cart_add_path) do |f| %>
                <%= f.hidden_field :id, value: product.id %>
                <%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
                <%= f.submit "Add to cart" %>
            <% end %>

            <%= form_with(url: cart_remove_path) do |f| %>
                <%= f.hidden_field :id, value: orderable.id %>
                <%= f.submit "Remove product" %>
            <% end %>
            <strong>Total: </strong>
            <%= orderable.total %>
        </div>

    </div>

<% end %>