<div class="container my-3">
    <div class="header pt-2 d-flex justify-content-between">
        <div class="header-info">
            <h1>Banners (<%= Banner.count %>)</h1>
            <p>Manage your banners</p>
        </div>
        <div class="header-link align-self-center">
            <%= link_to new_admin_banner_path, class: "btn btn-dark rounded-0" do %>
                <i class="fa-solid fa-plus"></i>
                Add New
            <% end %>
        </div>
    </div>
    <hr>

    <div class="mb-3">
        <input type="text" class="form-control form-control rounded-0 w-25" placeholder="Search banner..." aria-label="Search banners..." aria-describedby="basic-addon1">
    </div>

    <div class="table-wrapper table-responsive">
        <table class="table border">
            <thead>
                <tr class="fw-bold tb-header">
                    <th scope="col">Label</th>
                    <th scope="col">User</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @banners.each do |banner| %>
                    <tr>
                        <td class="fw-bold"><%= link_to banner.label, admin_banner_path(banner) %></td>
                        <td><%= banner.user.username %></td>
                        <td><%= banner.created_at.strftime("%m/%d/%Y") %></td>
                        <td><%= banner.updated_at.strftime("%m/%d/%Y") %></td>
                        <td class="text-center"><i class="fa-solid fa-ellipsis"></i></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>