<ul class="nav justify-content-center mobile-nav-list d-lg-none">
  <li class="nav-item">
    <%= link_to 'Dashboard', admin_path, class: 'nav-link btn btn-sm btn' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Customers', admin_users_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Banners', admin_banners_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Categories', admin_categories_path, class: 'nav-link' %>
  </li>
  </li>
  <li class="nav-item">
    <%= link_to 'Products', admin_products_path, class: 'nav-link' %>
  </li>
  </li>
  <li class="nav-item">
    <%= link_to 'Orders', admin_orders_path, class: 'nav-link' %>
  </li>
</ul>