<%= form_with model: [:admin, category] do |f| %>
    <%= render 'layouts/errors', f: f %>

    <div class="mb-3">
        <div class="mb-1">
            <strong><%= f.label :name %></strong>
        </div>
            <%= f.text_field :name, autofocus: true, class: "form-control rounded-0" %>
        </div>
    </div>

    <div class="mb-3">
        <div class="mb-1">
            <strong><%= f.label :banner %></strong>
        </div>

        <% unless f.object.new_record? %>
            <%= f.select :banner_id, Banner.all.pluck(:label, :id), { include_blank: "Select banner", selected: @category.banner.id }, class: "form-control rounded-0" %>
        <% else %>
            <%= f.select :banner_id, Banner.all.pluck(:label, :id), { include_blank: "Select banner" }, class: "form-control rounded-0" %>
        <% end %>
    </div>

    <div class="actions mb-2">
        <%= f.button "Submit", class: "btn btn-dark rounded-0" %>

        <% if f.object.new_record? %>
            <%= link_to "Cancel", admin_categories_path, class: "btn btn-dark rounded-0" %>
        <% else %>
            <%= link_to "Cancel", admin_category_path(@category), class: "btn btn-dark rounded-0" %>
        <% end %>
    </div>
<% end %>