<div class="container my-3">
    <div class="header pt-2 d-flex justify-content-between">
        <div class="header-info">
            <h1>Products (<%= Product.count %>)</h1>
            <p>Manage your products</p>
        </div>
        <div class="header-link align-self-center">
            <%= link_to new_admin_product_path, class: "btn btn-dark rounded-0" do %>
                <i class="fa-solid fa-plus"></i>
                Add New
            <% end %>
        </div>
    </div>
    <hr>

    <div class="mb-3">
        <input type="text" class="form-control form-control rounded-0 w-25" placeholder="Search products..." aria-label="Search products..." aria-describedby="basic-addon1">
    </div>

    <div class="table-wrapper table-responsive">
        <table class="table border">
            <thead>
                <tr class="fw-bold tb-header">
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Archived</th>
                    <th scope="col">Featured</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Code</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @products.each do |product| %>
                    <tr>
                        <td class="fw-bold"><%= link_to product.name, admin_product_path(product) %></td>
                        <td ><%= simple_format(product.description.truncate(50)) %></td>
                        <td><%= product.archive %></td>
                        <td><%= product.feature %></td>
                        <td><%= link_to "Small chops", '#' %></td>
                        <td><%= number_to_currency(product.unit_price, unit: "₦") %></td>
                        <td><%= product.code %></td>
                        <td><%= product.stock %></td>
                        <td><%= product.created_at.strftime("%m/%d/%Y") %></td>
                        <td class="text-center"><i class="fa-solid fa-ellipsis"></i></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>