<% provide(:title, "Products") %>

<div class="container my-3">
    <div class="header pt-2 d-flex justify-content-between">
        <div class="header-info">
            <h1>Products (<%= Product.count %>)</h1>
            <p>Manage your products</p>
        </div>
        <div class="header-link align-self-center">
            <%= link_to new_admin_product_path, class: "btn btn-dark rounded-0" do %>
                <i class="fa-solid fa-plus"></i>
                Add New
            <% end %>
        </div>
    </div>
    <hr>

    <div class="mb-3">
        <%= form_tag admin_products_path, method: 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Search products', class: "form-control form-control rounded-0 w-25" %>
          <%#= submit_tag :Search, class: "btn btn-primary btn-sm mt-2" %>
        <% end %>
    </div>

    <div class="table-wrapper table-responsive">
        <table class="table border">
            <thead>
                <tr class="fw-bold tb-header">
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Archived</th>
                    <th scope="col">Featured</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Code</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @products.each do |product| %>
                    <tr>
                        <td class="fw-bold"><%= link_to product.name, admin_product_path(product) %></td>
                        <td ><%= simple_format(product.description.truncate(50)) %></td>
                        <td>
                            <% if product.image.attached? %>
                                <%= image_tag product.image, size: "100x80" %>
                            <% else %>
                                <%= image_tag 'food-3.jpg', size: "100x80" %>
                            <% end %>
                        </td>
                        <td><%= product.archive %></td>
                        <td><%= product.feature %></td>
                        <td><%= link_to product.category.name, admin_category_path(product.category) %></td>
                        <td><%= number_to_currency(product.unit_price, unit: "₦") %></td>
                        <td><%= product.code %></td>
                        <td><%= product.stock %></td>
                        <td><%= product.created_at.strftime("%m/%d/%Y") %></td>
                        <td class="text-center"><i class="fa-solid fa-ellipsis"></i></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div class="mt-3 text-end">
    
            <%= paginate @products, window: 2, theme: 'bootstrap-5',
                            pagination_class: "pagination-sm flex-wrap justify-content-center",
                            nav_class: "d-inline-block" %>
        </div>
    </div>
</div>