<div class="container pt-4 pb-5">

    <div class="top-section d-flex justify-content-between">
        <%= render 'admin/products/admin_product_breadcrumb' %>

        <div class="action-buttons mb-4 text-center">
            <%= link_to edit_admin_product_path(@product), class: "btn btn-dark btn-sm border rounded-0" do %>
                <i class="fa-regular fa-trash-can"></i>
                Edit
            <% end %>

            <%= link_to admin_product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-dark border btn-sm rounded-0" do %>
                <i class="fa-regular fa-pen-to-square"></i> 
                Delete
            <% end %>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Attributes</th>
                    <th scope="col">Values</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tr>
                <td><b>ID</b></td>
                <td><%= @product.id %></td>
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td><%= @product.name %></td>
            </tr>
            <tr>
                <td><b>Category</b></td>
                <td><%= @product.category.name %></td>
            </tr>
            <tr>
                <td><b>Description</b></td>
                <td><%= @product.description %></td>
            </tr>
            <tr>
                <td><b>Image</b></td>
                <td><%= image_tag(@product.image, class: "w-25") %></td>
            </tr>
            <tr>
                <td><b>Unit Price</b></td>
                <td><%= number_to_currency(@product.unit_price, unit: "₦") %></td>
            </tr>
            <tr>
                <td><b>Code</b></td>
                <td><%= @product.code %></td>
            </tr>
            <tr>
                <td><b>Featured?</b></td>
                <td><%= @product.feature %></td>
            </tr>
            <tr>
                <td><b>Archived?</b></td>
                <td><%= @product.archive %></td>
            </tr>
            <tr>
                <td><b>Created by</b></td>
                <td><%= @product.user.username %></td>
            </tr>
            <tr>
                <td><b>Date created</b></td>
                <td><%= @product.created_at.strftime("%m/%d/%Y") %></td>
            </tr>
            <tr>
                <td><b>Last updated</b></td>
                <td><%= @product.updated_at.strftime("%m/%d/%Y") %></td>
            </tr>
        </table>
    </div>
</div>