<%= form_with model: [:admin, user] do |f| %>
    <%= render 'layouts/errors', f: f %>

    <div class="mb-3">
        <div class="mb-1">
            <strong><%= f.label :email %></strong>
        </div>
            <%= f.email_field :email, autofocus: true, placeholder: "hello@example.com", autocomplete: "email", class: "form-control form-control-lg rounded-0" %>
    </div>

    <div class="mb-3">
        <div class="mb-1">
            <strong><%= f.label :username %></strong>
        </div>
        <%= f.text_field :username, placeholder: "Enter username", autocomplete: true, class: "form-control form-control-lg rounded-0" %>
    </div>

    <div class="mb-3">
        <div class="mb-1">
            <strong><%= f.label :first_name %></strong>
        </div>
        <%= f.text_field :first_name, placeholder: "Enter your first name", autocomplete: true, class: "form-control form-control-lg rounded-0" %>
    </div>

    <div class="mb-3">
        <div class="mb-1">
            <strong><%= f.label :surname %></strong>
        </div>
        <%= f.text_field :surname, placeholder: "Enter your surname", autocomplete: true, class: "form-control form-control-lg rounded-0" %>
    </div>

    <div class="mb-3">
        <div class="mb-1">
            <strong><%= f.label :address_line_1 %></strong>
        </div>
        <%= f.text_field :address_line_1, placeholder: "Enter your address", autocomplete: true, class: "form-control form-control-lg rounded-0" %>
    </div>

    <div class="mb-3">
        <div class="mb-1">
            <strong><%= f.label :role %></strong>
        </div>
        <%= f.select :role, User.roles.keys, { include_blank: true }, class: "form-control form-control-lg rounded-0 form-select" %>
    </div>

    <div class="actions mb-2">
        <%= f.button "Log in", class: "btn btn-dark rounded-0" do %>
            <% if f.object.new_record? %>
                <span class="show-when-enabled">Create user</span>
                <span class="show-when-disabled"><i class="fa-solid fa-spinner fa-spin text-white"></i> Creating user...</span>
            <% else %>
                <span class="show-when-enabled">Update user</span>
                <span class="show-when-disabled"><i class="fa-solid fa-spinner fa-spin text-white"></i> Updating user...</span>
            <% end %>
        <% end %>

        <% if f.object.new_record? %>
            <%= link_to "Cancel", admin_users_path, class: "btn btn-dark rounded-0" %>
        <% else %>
            <%= link_to "Cancel", admin_user_path(@user), class: "btn btn-dark rounded-0" %>
        <% end %>
    </div>
<% end %>