<div class="row">
    <div class="col-md-6">
        <%= image_tag(@product.image, class: "rounded img-fluid mb-3") if @product.image.attached? %>
    </div>

    <div class="col-md-6">
        <div class="show-header d-flex justify-content-between align-items-center">
            <h1>
                <%= @product.name %>
            </h1>
            
            <%= render 'wishlists/wishlist_button' %>

        </div>

        <% if @product.average_rating.present? %>

            <% 
                average_rating_star_classes = %w["text-dark text-dark text-dark text-dark text-dark"]

                
                @product.average_rating.round(0).times do |i|
                    average_rating_star_classes[i] = 'text-warning'
                end
            %>

            <span>
                <% average_rating_star_classes.each do |star_class| %>
                    <span class="<%= star_class %> mb-0 pb-0">
                        <i class="fa-solid fa-star"></i>
                    </span>

                <% end %>
                <span class="text-dark mb-2"> (<%= link_to pluralize(@product.reviews_count, "rating"), '#' %>)</span>
            </span>
        <% end %>

        <h4><%= number_to_currency(@product.unit_price, unit: "₦") %></h4>

        <p class="mt-3 mb-2"><strong>Stock:</strong> <%= @product.stock %>, <strong>category: </strong><%= link_to @product.category.name, @product.category %></p>

        <p class="mb-3">
            <%= @product.description %>
        </p>

        <div class="mb-3 w-50">
            <input type="number" class="form-control d-inline-block w-25 bg-transparent rounded-0" placeholder="Qty" aria-label="Quantity" aria-describedby="basic-addon1">
            <%= link_to "Add to cart", '#', class: "btn btn-warning rounded-0" %>
        </div>
        <%= link_to "Buy now", '#', class: "btn btn-dark rounded-0" %>
    </div>
</div>