<div class="row">
    <div class="col-md-6">
        <%= image_tag(@product.image, class: "rounded img-fluid mb-3") if @product.image.attached? %>
    </div>

    <div class="col-md-6">
        <div class="show-header d-flex justify-content-between align-items-center">
            <h1 class="mb-2">
                <%= @product.name %>
            </h1>
            
            <%# render wishlists button %>
            <%= render 'wishlists/wishlist_button' %>

        </div>

        <%# render reviews information %>
        <%= render 'show_average_reviews' %>

        <h5 class="mt-3"><%= number_to_currency(@product.unit_price, unit: "₦") %></h5>

        <p class="mt-3 mb-2"><strong>Stock:</strong> <%= @product.stock %></p>
        <p><strong>category: </strong><%= link_to @product.category.name, @product.category %></p>

        <p class="mb-3">
            <%= @product.description %>
        </p>

        <div class="mb-3 w-50">
            <%# cart form %>
            <%= form_with(url: cart_add_path) do |f| %>
                <%= f.hidden_field :id, value: @product.id %>
                <%= f.select :quantity, options_for_select(1..@product.stock), {  }, style: "cursor: pointer", class: "form-select form-control d-inline-block w-25 bg-transparent rounded-0" %>
                <%#= f.number_field :quantity, value: 0, min: 1, class: "form-control d-inline-block w-25 bg-transparent rounded-0" %>
                <%= f.submit "Add to cart", class: "btn btn-warning rounded-0" %>
            <% end %>
        </div>
        <%#= link_to "Buy now", '#', class: "btn btn-dark rounded-0" %>
    </div>
</div>