<div class="container border-top py-5">
    <div class="category-list text-center fw-bold mb-5">
        <%= link_to 'ALL PRODUCTS', '#', class: "me-3" %>
        <%= link_to 'BBQ & GRILL', '#', class: "me-3" %>
        <%= link_to 'COOKHOUSE', '#', class: "me-3 btn btn-dark rounded-0" %>
        <%= link_to 'SIDES', '#', class: "me-3" %>
        <%= link_to 'SMALL CHOPS', '#', class: "me-3" %>
        <%= link_to 'GRILL PLATTERS', '#', class: "me-3" %>
    </div>
    <div class="row">
        <div class="col-md-4 p-0 m-0 ">
            <div class="card border-0 bg-transparent me-3 position-relative">
              <div class="card-img position-relative">
                <%= link_to image_tag('food-2.jpg', class: "rounded-4 card-img-top"), '#' %>
                <div class="img-btns position-absolute top-50 start-50 translate-middle">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-sm btn-light rounded-circle">
                    <i class="fa-solid fa-expand fs-4 p-1"></i>
                  </a>
                  <%= link_to '#', class: "btn btn-sm btn-light rounded-circle" do %>
                    <i class="fa-regular fa-heart fs-4 p-1" style="width:25px; height: 25px"></i>
                  <% end %>
                </div>
              </div>
              <div class="card-body bg-transparent mt-3 p-0">
                <h5 class="card-title my-3 p-1 d-inline-block"><%= link_to "Small chops platter one", '#' %></h5>
                <p class="card-text">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>
              </div>
              <p class="price my-2">
                  <strong><%= number_to_currency("5000", unit: "₦") %></strong>
              </p>
              <p class="text-">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
              </p>
          </div>
        </div>
        <div class="col-md-4 p-0 m-0">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card border-0 bg-transparent me-3">
                <%= image_tag('food-3.jpg', class: "rounded-4 img-fluid") %>
                <div class="card-body bg-transparent mt-3 p-0">
                    <h5 class="card-title my-3 p-1 d-inline-block">Small chops platter one</h5>
                    <p class="card-text">5 samosas, 5 spring rolls, 5pcss chicken, 15 puff puff, 15 mosa</p>
                </div>
                <p class="price my-2">
                    <strong><%= number_to_currency("5000", unit: "₦") %></strong>
                </p>
                <p class="text-">
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
            </div>
            </a>
        </div>
        <div class="col-md-4 p-0">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card border-0 bg-transparent me-3">
                <%= image_tag('food-4.jpg', class: "rounded-4 card-img-top") %>
                <div class="card-body bg-transparent mt-3 p-0">
                <h5 class="card-title my-3 p-1 d-inline-block">Small chops platter one</h5>
                <p class="card-text">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>
                </div>
                <p class="price my-2">
                    <strong><%= number_to_currency("5000", unit: "₦") %></strong>
                </p>
                <p class="text-">
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
            </div>
            </a>
        </div>

        <div class="col-md-4 p-0 m-0 ">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card border-0 bg-transparent me-3">
                <%= image_tag('food-2.jpg', class: "rounded-4 card-img-top") %>
                <div class="card-body bg-transparent mt-3 p-0">
                    <h5 class="card-title my-3 p-1 d-inline-block">Small chops platter one</h5>
                    <p class="card-text">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>
                </div>
                <p class="price my-2">
                    <strong><%= number_to_currency("5000", unit: "₦") %></strong>
                </p>
                <p class="text-">
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
            </div>
            </a>
        </div>
        <div class="col-md-4 p-0 m-0">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card border-0 bg-transparent me-3">
                <%= image_tag('food-6.png', class: "rounded-4 card-img-top border") %>
                <div class="card-body bg-transparent mt-3 p-0">
                <h5 class="card-title my-3 p-1 d-inline-block">Small chops platter one</h5>
                <p class="card-text">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>
                </div>
                <p class="price my-2">
                    <strong><%= number_to_currency("5000", unit: "₦") %></strong>
                </p>
                <p class="text-">
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
            </div>
            </a>
        </div>
        <div class="col-md-4 p-0">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="card border-0 bg-transparent me-3">
                <%= image_tag('food-7.png', class: "card-img-top rounded-4 border") %>
                <div class="card-body bg-transparent mt-3 p-0">
                <h5 class="card-title my-3 p-1 d-inline-block">Small chops platter one</h5>
                <p class="card-text">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>
                </div>
                <p class="price my-2">
                    <strong><%= number_to_currency("5000", unit: "₦") %></strong>
                </p>
                <p class="text-">
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
            </div>
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade text-white" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="row text-dark">
        <div class="col-md-6 p-0">
          <div class="product-img">
            <%= image_tag('food-2.jpg', class: "img-fluid") %>
          </div>
        </div>

        <div class="col-md-6 p-0">
          <div class="product-details p-3">
            <h3 class="">Small chops platter one</h3>
            <p class="mt-4">5 samosas, 5 spring rolls, 5pcs chicken, 15 puff puff, 15 mosa</p>

            <p class="price my-2">
              <strong><%= number_to_currency("5000", unit: "₦") %></strong>
            </p>

            <div class="product-quantity">
              <input type="number" class="form-control d-inline-block w-25 bg-transparent" placeholder="Qty" aria-label="Quantity" aria-describedby="basic-addon1">
            </div>

            <%= link_to "Add to cart", '#', class: "btn btn-warning rounded-0 mt-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

