<div class="container border-top py-5">
    <%= render 'category_list' %>
    <br>
    <%= render 'breadcrumb' %>
    <br>

    <%= render 'product_information' %>

    <%= render 'related_products' %>

    <%= render 'reviews' %>
</div>