<nav class="navbar navbar-expand-lg navbar-light py-3">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand fw-bold" do %>
      <i class="fa-solid fa-utensils"></i>
      GRILLS BY LASHE
    <% end %>
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# Offcanvas %>

    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

    <%# Sidebar header %>

      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
        <button 
            type="button" 
            class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" 
            aria-label="Close"
        ></button>
      </div>

      <%# Sidebar body %>
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3 fs-6 fw-bold">
          <li class="nav-item me-0 me-lg-4">
            <%= link_to "Home", root_path, class: "nav-link text-decoration-none text-dark" %>
          </li>
          <li class="nav-item me-0 me-lg-4">
            <%= link_to "Shop", shop_path, class: "nav-link text-decoration-none text-dark" %>
          </li>
          <li class="nav-item me-0 me-lg-4">
            <%= link_to "About/Hire me", '#', class: "nav-link text-decoration-none text-dark" %>
          </li>
          </li>
          <li class="nav-item me-0 me-lg-4">
            <%= link_to "Contact", '#', class: "nav-link text-decoration-none text-dark" %>
          </li>
          </li>
          <li class="nav-item me-0 me-lg-4">
            <%= link_to 'Admin Area', admin_path, class: "nav-link text-decoration-none text-dark" %>
          </li>
        </ul>

        <%# Login/signup %>

        <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center gap-3">
            <% if user_signed_in? %>
              <% if current_user.role == 'Admin' or current_user.role == 'Super Admin' %>
                <%= link_to cart_path, class: "nav-link" do %>
                  <div class="position-relative mt-3 me-3">
                    <i class="fa-solid fa-cart-shopping fs-5"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary border border-light">
                      <%= @cart.orderables.count %>
                      <span class="visually-hidden">Cart count</span>
                    </span>
                  </div>
                <% end %>
              <% end %>
              <div class=" mt-1">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <% if current_user.avatar.attached? %>
                    <%= image_tag(current_user.avatar, size: "35x35", style: "border-radius: 999px;") %>
                  <% else %>
                    <%= image_tag('default-avatar.png', size: "35x35", style: "border-radius: 999px;") %>
                  <% end %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end rounded-0">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Wishlists</a></li>
                  <li><a class="dropdown-item" href="#">Account settings</a></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
              <%#= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-sm btn-secondary" %>
            <% else %>
              <%= link_to "Signup", new_user_registration_path %>
              <%= link_to "Login", new_user_session_path, class: "btn btn-dark rounded-5" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>